<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - login &amp; signup form</title>
  <link rel="stylesheet" href="/assets/front/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="title-text">
    <div class="title login">Login </div>
    <div class="title signup">Signup </div>
  </div>
  <div class="form-container">
    <div class="slide-controls">
      <input type="radio" name="slide" id="login" checked>
      <input type="radio" name="slide" id="signup">
      <label for="login" class="slide login"><a href="/login">Login</a></label>
      <label  for="signup" class="slide signup"><a href="/register">Signup</a></label>
      <div class="slider-tab"></div>
    </div>
    <div class="form-inner">
        
    
      
      <form class="signup" role="form" #f="ngForm" (submit)="register()">
        <div class="form-group">
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="user.nom" name="nom" #nom="ngModel" required minlength="4" pattern="[a-zA-Z]*"  placeholder="Nom" type="text">
            
        
            
          </div>
    
        </div>
        <div class="form-group">
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="user.prenom" name="prenom" #prenom="ngModel" required minlength="4" pattern="[a-zA-Z]*"  placeholder="Prenom" type="text">
            
        
            
          </div>
          
        </div>
        <div class="form-group">
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" required  pattern="^[a-zA-Z0-9._-]+@gmail.com"  placeholder="Email" type="email">
            
        
            
          </div>
          <small class="text-warning font-italic" *ngIf="email.invalid && email.touched">
            il faut avoir un compte gmail
        </small>
        </div>
        <div class="form-group">
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="user.cin" name="cin" #cin="ngModel" required  pattern="[0-9]*8"  placeholder="Cin" type="number">
            
        
            
          </div>
          <small class="text-warning font-italic" *ngIf="cin.invalid && cin.touched">
            CIN must contain 8 characters
        </small>
        </div>
        <div class="form-group">
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="user.dateNaissance" name="dateNaissance" #dateNaissance="ngModel" required  type="date">
            
        
            
          </div>
          <small class="text-warning font-italic" *ngIf="dateNaissance.invalid && dateNaissance.touched">
            required
        </small>
        </div>
     
        
        <div class="form-group">
          <div class="input-group input-group-alternative mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="user.motDePasse" name="motDePasse" #motDePasse="ngModel" required minlength="5" pattern="^[a-zA-Z0-9]{8,}?"  placeholder="Password" type="Password">
            
        
            
          </div>
          <small class="text-warning font-italic" *ngIf="motDePasse.invalid && motDePasse.touched">
            too short
        </small>
        </div>
        
        <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
        <div class="row my-4">
          <div class="col-12">
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id="customCheckRegister" type="checkbox">
              <label class="custom-control-label" for="customCheckRegister">
                <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
              </label>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" [disabled]="f.invalid" class="btn btn-primary mt-4">Create account</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- partial -->
  <script  src="/assets/front/script.js"></script>

</body>
</html>
